@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  border: none;
  outline: none;
}

body {
  font-family:”ヒラギノ角ゴ Pro W3″,”ＭＳ Ｐゴシック”,sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* max-width: 1000px; */
  /* padding: 20px; */
  margin: 0 20px;
  background: pink;
  gap: 10px;
}

.box-child {
  width: calc((100% - 10px - 10px) / 3);
  height: auto;
  background: skyblue;
}

.box-img img{
  display: block;
  width: 100%;
  height: 100%; 
}