	
@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:”ヒラギノ角ゴ Pro W3″,”ＭＳ Ｐゴシック”,sans-serif;
}

div {
  padding: 0 42px;
}

.header-menu {
  display: flex;
  /* background: pink; */
  align-items: center;
  margin: 112px 0 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  font-size: 28px;
}

header a {
  text-decoration: none;
  color: inherit;
}

nav {
  margin: 0 0 0 auto;
}

header ul {
  list-style: none;
  display: flex;
  pointer-events: none;
}

header li:hover {

}

.header-menu li{
  margin-left: 30px;
  font-size: 14px;
}


